
/* Alerts ====================================== */

.alert {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border: none;
    color: #fff !important;
  }
  
  .alert .alert-link {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .alert-success {
    background-color: #2b982b;
  }
  
  .alert-info {
    background-color: #00b0e4;
  }
  
  .alert-warning {
    background-color: #ff9600 !important;
  }
  
  .alert-danger {
    background-color: #fb483a !important;
  }
  
  .alert-dismissible .close {
    color: #fff;
    opacity: 1;
    border: none;
    text-shadow: none;
  }
  
  /* Dialogs (SweetAlert) ======================== */


  /* Bootstrap Notify ============================ */

.bootstrap-notify-container {
    max-width: 320px;
    text-align: center;
  }

  
/* Tooltip & Popovers ========================== */

.tooltip {
    font-size: 13px;
  }
  
  .tooltip .tooltip-inner {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  
  .popover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .popover .popover-title {
    font-weight: bold;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ddd;
  }
  
  .popover .popover-content {
    font-size: 13px;
    color: #777;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  
  /* Nav Tabs ==================================== */
  
  .nav-tabs {
    border-bottom: 2px solid #eee;
  }
  
  .nav-tabs>li {
    position: relative;
    top: 3px;
    left: -2px;
  }
  
  .nav-tabs>li>a {
    border: none !important;
    color: #999 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  
  .nav-tabs>li>a:hover,
  .nav-tabs>li>a:active,
  .nav-tabs>li>a:focus {
    background-color: transparent !important;
  }
  
  .nav-tabs>li>a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid #2196F3;
    bottom: 2px;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -webkit-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .nav-tabs>li>a .material-icons {
    position: relative;
    top: 7px;
    margin-bottom: 8px;
  }
  
  .nav-tabs li.active a {
    color: #222 !important;
  }
  
  .nav-tabs li.active a:hover,
  .nav-tabs li.active a:active,
  .nav-tabs li.active a:focus {
    background-color: transparent !important;
  }
  
  .nav-tabs li.active a:before {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .nav-tabs+.tab-content {
    padding: 15px 0;
  }
  
  .nav-tabs.tab-col-red>li>a:before {
    border-bottom: 2px solid #F44336;
  }
  
  .nav-tabs.tab-col-pink>li>a:before {
    border-bottom: 2px solid #E91E63;
  }
  
  .nav-tabs.tab-col-purple>li>a:before {
    border-bottom: 2px solid #9C27B0;
  }
  
  .nav-tabs.tab-col-deep-purple>li>a:before {
    border-bottom: 2px solid #673AB7;
  }
  
  .nav-tabs.tab-col-indigo>li>a:before {
    border-bottom: 2px solid #3F51B5;
  }
  
  .nav-tabs.tab-col-blue>li>a:before {
    border-bottom: 2px solid #2196F3;
  }
  
  .nav-tabs.tab-col-light-blue>li>a:before {
    border-bottom: 2px solid #03A9F4;
  }
  
  .nav-tabs.tab-col-cyan>li>a:before {
    border-bottom: 2px solid #00BCD4;
  }
  
  .nav-tabs.tab-col-teal>li>a:before {
    border-bottom: 2px solid #009688;
  }
  
  .nav-tabs.tab-col-green>li>a:before {
    border-bottom: 2px solid #4CAF50;
  }
  
  .nav-tabs.tab-col-light-green>li>a:before {
    border-bottom: 2px solid #8BC34A;
  }
  
  .nav-tabs.tab-col-lime>li>a:before {
    border-bottom: 2px solid #CDDC39;
  }
  
  .nav-tabs.tab-col-yellow>li>a:before {
    border-bottom: 2px solid #ffe821;
  }
  
  .nav-tabs.tab-col-amber>li>a:before {
    border-bottom: 2px solid #FFC107;
  }
  
  .nav-tabs.tab-col-orange>li>a:before {
    border-bottom: 2px solid #FF9800;
  }
  
  .nav-tabs.tab-col-deep-orange>li>a:before {
    border-bottom: 2px solid #FF5722;
  }
  
  .nav-tabs.tab-col-brown>li>a:before {
    border-bottom: 2px solid #795548;
  }
  
  .nav-tabs.tab-col-grey>li>a:before {
    border-bottom: 2px solid #9E9E9E;
  }
  
  .nav-tabs.tab-col-blue-grey>li>a:before {
    border-bottom: 2px solid #607D8B;
  }
  
  .nav-tabs.tab-col-black>li>a:before {
    border-bottom: 2px solid #000000;
  }
  
  .nav-tabs.tab-col-white>li>a:before {
    border-bottom: 2px solid #ffffff;
  }

  
/* Thumbnails ================================== */

.thumbnail {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  
  .thumbnail p:not(button) {
    color: #999999;
    font-size: 14px;
  }
  
  .thumbnail h3 {
    font-weight: bold;
    font-size: 17px;
  }
  
  /* Modals ====================================== */
  
  .modal .modal-header {
    border: none;
    padding: 25px 25px 5px 25px;
  }
  
  .modal .modal-header .modal-title {
    font-weight: bold;
    font-size: 16px;
  }
  
  .modal .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31) !important;
    border: none;
  }
  
  .modal .modal-content .modal-body {
    color: #777;
    padding: 15px 25px;
  }
  
  .modal .modal-footer {
    border: none;
  }
  
  .modal-col-red {
    background-color: #F44336;
  }
  
  .modal-col-red .modal-body,
  .modal-col-red .modal-title {
    color: #fff !important;
  }
  
  .modal-col-red .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-red .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-red .modal-footer .btn-link:hover,
  .modal-col-red .modal-footer .btn-link:active,
  .modal-col-red .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-pink {
    background-color: #E91E63;
  }
  
  .modal-col-pink .modal-body,
  .modal-col-pink .modal-title {
    color: #fff !important;
  }
  
  .modal-col-pink .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-pink .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-pink .modal-footer .btn-link:hover,
  .modal-col-pink .modal-footer .btn-link:active,
  .modal-col-pink .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-purple {
    background-color: #9C27B0;
  }
  
  .modal-col-purple .modal-body,
  .modal-col-purple .modal-title {
    color: #fff !important;
  }
  
  .modal-col-purple .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-purple .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-purple .modal-footer .btn-link:hover,
  .modal-col-purple .modal-footer .btn-link:active,
  .modal-col-purple .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-deep-purple {
    background-color: #673AB7;
  }
  
  .modal-col-deep-purple .modal-body,
  .modal-col-deep-purple .modal-title {
    color: #fff !important;
  }
  
  .modal-col-deep-purple .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-deep-purple .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-deep-purple .modal-footer .btn-link:hover,
  .modal-col-deep-purple .modal-footer .btn-link:active,
  .modal-col-deep-purple .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-indigo {
    background-color: #3F51B5;
  }
  
  .modal-col-indigo .modal-body,
  .modal-col-indigo .modal-title {
    color: #fff !important;
  }
  
  .modal-col-indigo .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-indigo .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-indigo .modal-footer .btn-link:hover,
  .modal-col-indigo .modal-footer .btn-link:active,
  .modal-col-indigo .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-blue {
    background-color: #2196F3;
  }
  
  .modal-col-blue .modal-body,
  .modal-col-blue .modal-title {
    color: #fff !important;
  }
  
  .modal-col-blue .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-blue .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-blue .modal-footer .btn-link:hover,
  .modal-col-blue .modal-footer .btn-link:active,
  .modal-col-blue .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-light-blue {
    background-color: #03A9F4;
  }
  
  .modal-col-light-blue .modal-body,
  .modal-col-light-blue .modal-title {
    color: #fff !important;
  }
  
  .modal-col-light-blue .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-light-blue .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-light-blue .modal-footer .btn-link:hover,
  .modal-col-light-blue .modal-footer .btn-link:active,
  .modal-col-light-blue .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-cyan {
    background-color: #00BCD4;
  }
  
  .modal-col-cyan .modal-body,
  .modal-col-cyan .modal-title {
    color: #fff !important;
  }
  
  .modal-col-cyan .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-cyan .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-cyan .modal-footer .btn-link:hover,
  .modal-col-cyan .modal-footer .btn-link:active,
  .modal-col-cyan .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-teal {
    background-color: #009688;
  }
  
  .modal-col-teal .modal-body,
  .modal-col-teal .modal-title {
    color: #fff !important;
  }
  
  .modal-col-teal .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-teal .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-teal .modal-footer .btn-link:hover,
  .modal-col-teal .modal-footer .btn-link:active,
  .modal-col-teal .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-green {
    background-color: #4CAF50;
  }
  
  .modal-col-green .modal-body,
  .modal-col-green .modal-title {
    color: #fff !important;
  }
  
  .modal-col-green .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-green .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-green .modal-footer .btn-link:hover,
  .modal-col-green .modal-footer .btn-link:active,
  .modal-col-green .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-light-green {
    background-color: #8BC34A;
  }
  
  .modal-col-light-green .modal-body,
  .modal-col-light-green .modal-title {
    color: #fff !important;
  }
  
  .modal-col-light-green .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-light-green .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-light-green .modal-footer .btn-link:hover,
  .modal-col-light-green .modal-footer .btn-link:active,
  .modal-col-light-green .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-lime {
    background-color: #CDDC39;
  }
  
  .modal-col-lime .modal-body,
  .modal-col-lime .modal-title {
    color: #fff !important;
  }
  
  .modal-col-lime .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-lime .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-lime .modal-footer .btn-link:hover,
  .modal-col-lime .modal-footer .btn-link:active,
  .modal-col-lime .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-yellow {
    background-color: #ffe821;
  }
  
  .modal-col-yellow .modal-body,
  .modal-col-yellow .modal-title {
    color: #fff !important;
  }
  
  .modal-col-yellow .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-yellow .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-yellow .modal-footer .btn-link:hover,
  .modal-col-yellow .modal-footer .btn-link:active,
  .modal-col-yellow .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-amber {
    background-color: #FFC107;
  }
  
  .modal-col-amber .modal-body,
  .modal-col-amber .modal-title {
    color: #fff !important;
  }
  
  .modal-col-amber .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-amber .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-amber .modal-footer .btn-link:hover,
  .modal-col-amber .modal-footer .btn-link:active,
  .modal-col-amber .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-orange {
    background-color: #FF9800;
  }
  
  .modal-col-orange .modal-body,
  .modal-col-orange .modal-title {
    color: #fff !important;
  }
  
  .modal-col-orange .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-orange .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-orange .modal-footer .btn-link:hover,
  .modal-col-orange .modal-footer .btn-link:active,
  .modal-col-orange .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-deep-orange {
    background-color: #FF5722;
  }
  
  .modal-col-deep-orange .modal-body,
  .modal-col-deep-orange .modal-title {
    color: #fff !important;
  }
  
  .modal-col-deep-orange .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-deep-orange .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-deep-orange .modal-footer .btn-link:hover,
  .modal-col-deep-orange .modal-footer .btn-link:active,
  .modal-col-deep-orange .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-brown {
    background-color: #795548;
  }
  
  .modal-col-brown .modal-body,
  .modal-col-brown .modal-title {
    color: #fff !important;
  }
  
  .modal-col-brown .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-brown .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-brown .modal-footer .btn-link:hover,
  .modal-col-brown .modal-footer .btn-link:active,
  .modal-col-brown .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-grey {
    background-color: #9E9E9E;
  }
  
  .modal-col-grey .modal-body,
  .modal-col-grey .modal-title {
    color: #fff !important;
  }
  
  .modal-col-grey .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-grey .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-grey .modal-footer .btn-link:hover,
  .modal-col-grey .modal-footer .btn-link:active,
  .modal-col-grey .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-blue-grey {
    background-color: #607D8B;
  }
  
  .modal-col-blue-grey .modal-body,
  .modal-col-blue-grey .modal-title {
    color: #fff !important;
  }
  
  .modal-col-blue-grey .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-blue-grey .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-blue-grey .modal-footer .btn-link:hover,
  .modal-col-blue-grey .modal-footer .btn-link:active,
  .modal-col-blue-grey .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-black {
    background-color: #000000;
  }
  
  .modal-col-black .modal-body,
  .modal-col-black .modal-title {
    color: #fff !important;
  }
  
  .modal-col-black .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-black .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-black .modal-footer .btn-link:hover,
  .modal-col-black .modal-footer .btn-link:active,
  .modal-col-black .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-white {
    background-color: #ffffff;
  }
  
  .modal-col-white .modal-body,
  .modal-col-white .modal-title {
    color: #fff !important;
  }
  
  .modal-col-white .modal-footer {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  .modal-col-white .modal-footer .btn-link {
    color: #fff !important;
  }
  
  .modal-col-white .modal-footer .btn-link:hover,
  .modal-col-white .modal-footer .btn-link:active,
  .modal-col-white .modal-footer .btn-link:focus {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  /* Labels ====================================== */
  
  .label {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  
  .label-primary {
    background-color: #1f91f3;
  }
  
  .label-success {
    background-color: #2b982b;
  }
  
  .label-info {
    background-color: #00b0e4;
  }
  
  .label-warning {
    background-color: #ff9600;
  }
  
  .label-danger {
    background-color: #fb483a;
  }

  
/* Progress Bars =============================== */

.progress {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    height: 22px;
  }
  
  .progress .progress-bar {
    line-height: 23px;
    background-color: #1f91f3;
  }
  
  .progress .progress-bar-success {
    background-color: #2b982b;
  }
  
  .progress .progress-bar-info {
    background-color: #00b0e4;
  }
  
  .progress .progress-bar-warning {
    background-color: #ff9600;
  }
  
  .progress .progress-bar-danger {
    background-color: #fb483a;
  }

  .bg-green {
    background-color: #4CAF50 !important;
    color: #fff;
  }
  
  .bg-green .content .text,
  .bg-green .content .number {
    color: #fff !important;
  }